<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
     <title>About</title>
</head>

<body>
     <div class="main-content">
         {{>header}}
        <div class="portrait-container">
            <img class="portrait" src="/img/me.jpg">
            
            <div class="about-container">
                <h3>Puja Sharma</h3>
                <p>Undergrad Heritage Institute of Technology, Kolkata</p>
                <p>Geeks, Frontend Developer</p>
                <div class="links">
                <a href="https://www.linkedin.com/in/pujash/"><i class="fab fa-linkedin-in fa-2x"></i></a>
                <a href="https://instagram.com/aalsi_pupu/"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://github.com/Puja-Sh"><i class="fab fa-github fa-2x"></i></a>
                </div>
              
            </div>
            </div>
        </div>
    </div>
  
    {{>footer}}
</body>

</html>